<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %5p %c{3} - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.paypal.dione" level="INFO"/>
    <Logger name="com.paypal.dione.kvstorage.hadoop.avro" level="DEBUG"/>
    <Logger name="com.paypal.dione.avro" level="INFO"/>
    <Logger name="org.apache.spark" level="WARN"/>
    <Logger name="org.apache.spark.executor" level="ERROR"/>
    <Logger name="org.apache.hadoop.hive" level="WARN"/>
    <Logger name="hive.log" level="WARN"/>
    <Logger name="ql.metadata.Hive" level="WARN"/>
    <Logger name="hive.ql.parse.ParseDriver" level="WARN"/>
    <Logger name="org.apache.parquet" level="WARN"/>
    <Logger name="org.apache.hadoop.io" level="WARN"/>
    <Logger name="org.spark-project.jetty.server.handler" level="WARN"/>
    <Logger name="org.spark_project.jetty.server.handler" level="WARN"/>
    <Logger name="DataNucleus" level="WARN"/>
    <Logger name="net.htmlparser.jericho" level="ERROR"/>
    <Root level="INFO">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>
